
.myselect {
  width: 200px;
  position: relative;
  
}
.myformstyle {
    background-color: lightblue;
    border-radius: 20px;
    border-style: solid;
    width: 400px;
    height: 600px;
}
.taskborder
{
    width: 200px;
}
.datewidth
{
    width: 150px;
    
}
.btncolor1{
 background-color:rgb(123, 255, 163);
 border-radius: 20px;
 width: 100px;
 
}
.btncolor2{
 background-color: lightcoral;
 border-radius: 20px;
 width: 100px;
 
}
.editborder{
    
    position: relative;
    
}
.statusbar{
    width: 200px;
    position: relative;
    
}
.datewidth{
    position: sticky;
    
    
 
  
    
}